<a href="https://colab.research.google.com/github/sanaomaro/old_notebooks/blob/main/S_Omar_M3_assn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#very confused, I am used to using pandas.
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
cars =[]
file_path = '/content/cars-sample35.txt'
#header = ['Price', 'Maintenance_cost', 'Number_of_doors', 'Number_of_passengers', 'Luggage_capacity', 'Safety_rating', 'Classification_of_vehicle']

#with open(file_path, "w+") as csvfile:
  #readCSV = csv.reader(csvfile, delimiter=',')
    # Create File
  #if not os.path.exists(file_path):
   # print("No File")
  
    # remove any matching 'header' from the file, in case ther are duplicate header rows in the wrong places
  #lines = [line for line in csvfile if not line == header]
  #csvfile.close()

    # rewrite the file, appending the header to row 1

  #csvfile.write(','.join([line for line in lines].insert(0,header)))    
  #csvfile.close()

  #writer = csv.writer(csvfile)
 # writer.writerow(header)
  

import fileinput
headers = 'Price Maintenance_cost Number_of_doors Number_of_passengers Luggage_capacity Safety_rating Classification_of_vehicle'.split()
#headers = 'a b c d e'.split()
for line in fileinput.input([file_path], inplace=True):
    if fileinput.isfirstline():
  
      print(','.join(headers))
    print(line)
"""
with open(file_path,'w+') as csvfile:  
  lines = [line for line in csvfile if not line == header]
  
  csvfile.write(','.join([line for line in lines].insert(0,header)))    
"""

"\nwith open(file_path,'w+') as csvfile:  \n  lines = [line for line in csvfile if not line == header]\n  \n  csvfile.write(','.join([line for line in lines].insert(0,header)))    \n"

In [3]:
#I noticed that there are empty lines because of the previous code of adding the header, 
#it seems something wrong with the join statement but I could not fix it,
#So, I wrote this code to omit the empty lines
with open(file_path) as reader, open(file_path, 'r+') as writer:
  for line in reader:
    if line.strip():
      writer.write(line)
  writer.truncate()

In [4]:
#this code to convert it into a list named cars
with open(file_path, 'r') as csvfile:  
  readCSV = csv.reader(csvfile)
  for row in readCSV:
    cars.append(row)
  csvfile.close()

  # print each row as read by the csv.reader function
for row in range(0,len(cars)):
  print(cars[row])

['Price', 'Maintenance_cost', 'Number_of_doors', 'Number_of_passengers', 'Luggage_capacity', 'Safety_rating', 'Classification_of_vehicle']
['high', 'high', '2', '4', 'med', 'low', 'unacc']
['high', 'high', '4', 'more', 'small', 'high', 'acc']
['high', 'high', '4', 'more', 'big', 'low', 'unacc']
['high', 'low', '2', 'more', 'big', 'high', 'acc']
['vhigh', 'low', '3', '2', 'med', 'med', 'unacc']
['low', 'high', '2', '2', 'small', 'low', 'unacc']
['med', 'med', '4', 'more', 'med', 'high', 'vgood']
['low', 'low', '3', '2', 'big', 'med', 'unacc']
['vhigh', 'low', '2', '2', 'small', 'low', 'unacc']
['vhigh', 'high', '4', '4', 'med', 'low', 'unacc']
['low', 'low', '2', '2', 'med', 'med', 'unacc']
['vhigh', 'low', '4', 'more', 'small', 'high', 'acc']
['high', 'low', '2', '4', 'big', 'med', 'acc']
['low', 'vhigh', '3', 'more', 'big', 'low', 'unacc']
['high', 'low', '5more', '2', 'big', 'med', 'unacc']
['vhigh', 'high', '2', 'more', 'med', 'high', 'unacc']
['med', 'med', '2', '2', 'small', 'low', 'unacc']
['high', 'low', '5more', '4', 'med', 'high', 'acc']
['low', 'low', '3', 'more', 'med', 'high', 'vgood']
['low', 'low', '2', '2', 'big', 'med', 'unacc']
['med', 'high', '4', '2', 'big', 'high', 'unacc']
['low', 'low', '2', '2', 'small', 'high', 'unacc']
['vhigh', 'high', '5more', '4', 'med', 'med', 'unacc']
['med', 'vhigh', '2', '2', 'big', 'low', 'unacc']
['low', 'vhigh', '4', '4', 'big', 'low', 'unacc']
['vhigh', 'low', '3', 'more', 'big', 'low', 'unacc']
['med', 'vhigh', '3', '4', 'small', 'low', 'unacc']
['high', 'high', '3', '4', 'med', 'med', 'unacc']
['low', 'high', '5more', '2', 'big', 'low', 'unacc']
['med', 'high', '5more', '2', 'med', 'med', 'unacc']
['high', 'low', '3', '4', 'med', 'high', 'acc']
['high', 'vhigh', '5more', '4', 'med', 'med', 'unacc']
['low', 'low', '5more', '2', 'med', 'low', 'unacc']
['vhigh', 'vhigh', '4', '2', 'big', 'high', 'unacc']
['high', 'low', '3', '2', 'big', 'high', 'unacc']

In [5]:
#an attempt to make sure it is printed fine
for row in range(0,len(cars)):
  print(cars[row], row)

['Price', 'Maintenance_cost', 'Number_of_doors', 'Number_of_passengers', 'Luggage_capacity', 'Safety_rating', 'Classification_of_vehicle'] 0
['high', 'high', '2', '4', 'med', 'low', 'unacc'] 1
['high', 'high', '4', 'more', 'small', 'high', 'acc'] 2
['high', 'high', '4', 'more', 'big', 'low', 'unacc'] 3
['high', 'low', '2', 'more', 'big', 'high', 'acc'] 4
['vhigh', 'low', '3', '2', 'med', 'med', 'unacc'] 5
['low', 'high', '2', '2', 'small', 'low', 'unacc'] 6
['med', 'med', '4', 'more', 'med', 'high', 'vgood'] 7
['low', 'low', '3', '2', 'big', 'med', 'unacc'] 8
['vhigh', 'low', '2', '2', 'small', 'low', 'unacc'] 9
['vhigh', 'high', '4', '4', 'med', 'low', 'unacc'] 10
['low', 'low', '2', '2', 'med', 'med', 'unacc'] 11
['vhigh', 'low', '4', 'more', 'small', 'high', 'acc'] 12
['high', 'low', '2', '4', 'big', 'med', 'acc'] 13
['low', 'vhigh', '3', 'more', 'big', 'low', 'unacc'] 14
['high', 'low', '5more', '2', 'big', 'med', 'unacc'] 15
['vhigh', 'high', '2', 'more', 'med', 'high', 'unacc'] 16
['med', 'med', '2', '2', 'small', 'low', 'unacc'] 17
['high', 'low', '5more', '4', 'med', 'high', 'acc'] 18
['low', 'low', '3', 'more', 'med', 'high', 'vgood'] 19
['low', 'low', '2', '2', 'big', 'med', 'unacc'] 20
['med', 'high', '4', '2', 'big', 'high', 'unacc'] 21
['low', 'low', '2', '2', 'small', 'high', 'unacc'] 22
['vhigh', 'high', '5more', '4', 'med', 'med', 'unacc'] 23
['med', 'vhigh', '2', '2', 'big', 'low', 'unacc'] 24
['low', 'vhigh', '4', '4', 'big', 'low', 'unacc'] 25
['vhigh', 'low', '3', 'more', 'big', 'low', 'unacc'] 26
['med', 'vhigh', '3', '4', 'small', 'low', 'unacc'] 27
['high', 'high', '3', '4', 'med', 'med', 'unacc'] 28
['low', 'high', '5more', '2', 'big', 'low', 'unacc'] 29
['med', 'high', '5more', '2', 'med', 'med', 'unacc'] 30
['high', 'low', '3', '4', 'med', 'high', 'acc'] 31
['high', 'vhigh', '5more', '4', 'med', 'med', 'unacc'] 32
['low', 'low', '5more', '2', 'med', 'low', 'unacc'] 33
['vhigh', 'vhigh', '4', '2', 'big', 'high', 'unacc'] 34
['high', 'low', '3', '2', 'big', 'high', 'unacc'] 35

In [6]:
#TASK 2
#using slice objects in sublisting we made python sublists only the first colum of price
#then by seraching in the list cars according to the term stored in search in the sublisting
#we found the indexes of the rows weher prices are med.
cars_medPrices =[]
cars_medPrices_indexes = []
search = 'med'
#any(e[1] == search for e in cars)
cars_prices = [sublist[:1] for sublist in cars]
print(cars_prices)
print(len(cars_prices), len(cars))
for row in range(0,len(cars)):

 # for col in cars[col, row]:
  for sub in cars_prices[row]:
    if sub == search:
      cars_medPrices.append(cars[row])
      cars_medPrices_indexes.append(row)
      print("Found it!", cars[row], row)
      break
#this is the list of indexes values of cars with prices med    
print(cars_medPrices_indexes)
for row in range(0,len(cars_medPrices)):
  #this is the list of cars havinf prices med
  print(cars_medPrices[row])

[['Price'], ['high'], ['high'], ['high'], ['high'], ['vhigh'], ['low'], ['med'], ['low'], ['vhigh'], ['vhigh'], ['low'], ['vhigh'], ['high'], ['low'], ['high'], ['vhigh'], ['med'], ['high'], ['low'], ['low'], ['med'], ['low'], ['vhigh'], ['med'], ['low'], ['vhigh'], ['med'], ['high'], ['low'], ['med'], ['high'], ['high'], ['low'], ['vhigh'], ['high']]
36 36
Found it! ['med', 'med', '4', 'more', 'med', 'high', 'vgood'] 7
Found it! ['med', 'med', '2', '2', 'small', 'low', 'unacc'] 17
Found it! ['med', 'high', '4', '2', 'big', 'high', 'unacc'] 21
Found it! ['med', 'vhigh', '2', '2', 'big', 'low', 'unacc'] 24
Found it! ['med', 'vhigh', '3', '4', 'small', 'low', 'unacc'] 27
Found it! ['med', 'high', '5more', '2', 'med', 'med', 'unacc'] 30
[7, 17, 21, 24, 27, 30]
['med', 'med', '4', 'more', 'med', 'high', 'vgood']
['med', 'med', '2', '2', 'small', 'low', 'unacc']
['med', 'high', '4', '2', 'big', 'high', 'unacc']
['med', 'vhigh', '2', '2', 'big', 'low', 'unacc']
['med', 'vhigh', '3', '4', 'small', 'low', 'unacc']
['med', 'high', '5more', '2', 'med', 'med', 'unacc']

In [7]:
#TASK 3
#using slice objects in sublisting we made python sublists only the first colum of price
#then by seraching in the list cars according to the term stored in search in the sublisting
#we found the the number of passengers of the rows weher prices are med.
cars_medPrices =[]
search = 'med'
#any(e[1] == search for e in cars)
cars_prices = [sublist[:1] for sublist in cars]
cars_number_of_passengers = []
print(cars_prices)

print(len(cars_prices), len(cars))

for row in range(0,len(cars)):

 # for col in cars[col, row]:
  for sub in cars_prices[row]:
    if sub == search:
      cars_medPrices.append(cars[row])
      cars_number_of_passengers.append(cars[row][3])
      print("Found it!", cars[row], row)
      break
    

for row in range(0,len(cars_medPrices)):
  print(cars_medPrices[row])
  print(cars_number_of_passengers[row]) 
#this is the list of number of passengers values of prices
print(cars_number_of_passengers)

[['Price'], ['high'], ['high'], ['high'], ['high'], ['vhigh'], ['low'], ['med'], ['low'], ['vhigh'], ['vhigh'], ['low'], ['vhigh'], ['high'], ['low'], ['high'], ['vhigh'], ['med'], ['high'], ['low'], ['low'], ['med'], ['low'], ['vhigh'], ['med'], ['low'], ['vhigh'], ['med'], ['high'], ['low'], ['med'], ['high'], ['high'], ['low'], ['vhigh'], ['high']]
36 36
Found it! ['med', 'med', '4', 'more', 'med', 'high', 'vgood'] 7
Found it! ['med', 'med', '2', '2', 'small', 'low', 'unacc'] 17
Found it! ['med', 'high', '4', '2', 'big', 'high', 'unacc'] 21
Found it! ['med', 'vhigh', '2', '2', 'big', 'low', 'unacc'] 24
Found it! ['med', 'vhigh', '3', '4', 'small', 'low', 'unacc'] 27
Found it! ['med', 'high', '5more', '2', 'med', 'med', 'unacc'] 30
['med', 'med', '4', 'more', 'med', 'high', 'vgood']
more
['med', 'med', '2', '2', 'small', 'low', 'unacc']
2
['med', 'high', '4', '2', 'big', 'high', 'unacc']
2
['med', 'vhigh', '2', '2', 'big', 'low', 'unacc']
2
['med', 'vhigh', '3', '4', 'small', 'low', 'unacc']
4
['med', 'high', '5more', '2', 'med', 'med', 'unacc']
2
['more', '2', '2', '2', '4', '2']

In [8]:
#TASK 4
#using slice objects in sublisting we made python sublists only the first colum of price
#then by seraching in the list cars according to the term stored in search in the sublisting
#we found the the number of passengers of the rows weher prices are med.
cars_highprices_notlowMain =[]
cars_main_check =[]
search = 'high'
#any(e[1] == search for e in cars)
cars_prices = [sublist[:1] for sublist in cars]

print(cars_prices)


for row in range(0,len(cars)):

 # for col in cars[col, row]:
  for sub in cars_prices[row]:
     if sub == search and cars[row][1] != "low":
      cars_main_check.append(cars[row][1])
      cars_highprices_notlowMain.append(cars[row])
      print("Found it!", cars[row], row)
      break
    
#cars_highprices_notlowMain is the list that contains the cars with high prices and not low maintanance
for row in range(0,len(cars_highprices_notlowMain)):
  print(cars_highprices_notlowMain[row])

print("checking list" , cars_main_check)

[['Price'], ['high'], ['high'], ['high'], ['high'], ['vhigh'], ['low'], ['med'], ['low'], ['vhigh'], ['vhigh'], ['low'], ['vhigh'], ['high'], ['low'], ['high'], ['vhigh'], ['med'], ['high'], ['low'], ['low'], ['med'], ['low'], ['vhigh'], ['med'], ['low'], ['vhigh'], ['med'], ['high'], ['low'], ['med'], ['high'], ['high'], ['low'], ['vhigh'], ['high']]
Found it! ['high', 'high', '2', '4', 'med', 'low', 'unacc'] 1
Found it! ['high', 'high', '4', 'more', 'small', 'high', 'acc'] 2
Found it! ['high', 'high', '4', 'more', 'big', 'low', 'unacc'] 3
Found it! ['high', 'high', '3', '4', 'med', 'med', 'unacc'] 28
Found it! ['high', 'vhigh', '5more', '4', 'med', 'med', 'unacc'] 32
['high', 'high', '2', '4', 'med', 'low', 'unacc']
['high', 'high', '4', 'more', 'small', 'high', 'acc']
['high', 'high', '4', 'more', 'big', 'low', 'unacc']
['high', 'high', '3', '4', 'med', 'med', 'unacc']
['high', 'vhigh', '5more', '4', 'med', 'med', 'unacc']
checking list ['high', 'high', 'high', 'high', 'vhigh']

In [9]:
#Task 6: creating CarData class with 8 features one of them is unique ID. Plus, couting classes
class CarData:
   #counting for cars clasees
   CarCount = 0

   def __init__(self, uniqueID, Price, maint_cost, no_doors, no_passengers, lugg_cap, safety_rate, class_type):
      self.uniqueID = super.CarCount
      self.Price = Price
      self.maint_cost = maint_cost
      self.no_doors = no_doors
      self.no_passengers = no_passengers
      self.lugg_cap = lugg_cap
      self.safety_rate = safety_rate
      self.class_type = class_type
      CarData.CarCount += 1

   def displayCount(self):

      print("Total cars %d" % CarData.CarCount)

   def displayEmployee(self):

      print("Name : ", self.uniqueID, ", Salary: ", self.Price)

# **#As for the Task no 7, I could not implement this idea: **

"with each row within the file being loaded into a distinct CarData class object within that list."

***HERE ENDS THE SOLUTION, AFTER THIS LINE MY FIRST TRIAL USING PANDAS, WHICH I DID NOT KNOW IT IS NOT ALLOWED AT FIRST***

---

In [ ]:
'''
def read_data(readCSV, columns):
    with open(readCSV, mode='r') as f:
        rows = [line.split('::') for line in f.read().splitlines()]
    records = [{name: value for name, value in zip(columns, row)} for row in rows]
    return records
csvn = 'Price Maintenance_cost Number_of_doors Number_of_passengers Luggage_capacity Safety_rating Classification_of_vehicle'.split()
cars = read_data('/content/cars-sample35.txt', csvn)
'''

In [ ]:
data = pd.read_csv('cars-sample35.txt')
#We can check the first five samples of the data:
data.head(5)

    high high.1  2     4    med   low  unacc
0   high   high  4  more  small  high    acc
1   high   high  4  more    big   low  unacc
2   high    low  2  more    big  high    acc
3  vhigh    low  3     2    med   med  unacc
4    low   high  2     2  small   low  unacc

In [ ]:
data.shape

(34, 7)

In [ ]:
data.columns

Index(['high', 'high.1', '2', '4', 'med', 'low', 'unacc'], dtype='object')

In [ ]:
data.columns = ['Price','Maintenance_cost','Number_of_doors', 'Number_of_passengers', 'Luggage_capacity', 'Safety_rating', 'Classification_of_vehicle']

In [ ]:
data.head(5)

,Price,Maintenance_cost,Number_of_doors,Number_of_passengers,Luggage_capacity,Safety_rating,Classification_of_vehicle
0,high,high,4,more,small,high,acc
1,high,high,4,more,big,low,unacc
2,high,low,2,more,big,high,acc
3,vhigh,low,3,2,med,med,unacc
4,low,high,2,2,small,low,unacc

In [ ]:
data.isnull().sum()

Price                        0
Maintenance_cost             0
Number_of_doors              0
Number_of_passengers         0
Luggage_capacity             0
Safety_rating                0
Classification_of_vehicle    0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Price                      34 non-null     object
 1   Maintenance_cost           34 non-null     object
 2   Number_of_doors            34 non-null     object
 3   Number_of_passengers       34 non-null     object
 4   Luggage_capacity           34 non-null     object
 5   Safety_rating              34 non-null     object
 6   Classification_of_vehicle  34 non-null     object
dtypes: object(7)
memory usage: 2.0+ KB

In [ ]:
#converting to lists
for column in data.columns:
  values = data[column].values
  list_of_column = values.tolist()
  # print each row as read by the csv.reader function
  print(list_of_column)

['high', 'high', 'high', 'vhigh', 'low', 'med', 'low', 'vhigh', 'vhigh', 'low', 'vhigh', 'high', 'low', 'high', 'vhigh', 'med', 'high', 'low', 'low', 'med', 'low', 'vhigh', 'med', 'low', 'vhigh', 'med', 'high', 'low', 'med', 'high', 'high', 'low', 'vhigh', 'high']
['high', 'high', 'low', 'low', 'high', 'med', 'low', 'low', 'high', 'low', 'low', 'low', 'vhigh', 'low', 'high', 'med', 'low', 'low', 'low', 'high', 'low', 'high', 'vhigh', 'vhigh', 'low', 'vhigh', 'high', 'high', 'high', 'low', 'vhigh', 'low', 'vhigh', 'low']
['4', '4', '2', '3', '2', '4', '3', '2', '4', '2', '4', '2', '3', '5more', '2', '2', '5more', '3', '2', '4', '2', '5more', '2', '4', '3', '3', '3', '5more', '5more', '3', '5more', '5more', '4', '3']
['more', 'more', 'more', '2', '2', 'more', '2', '2', '4', '2', 'more', '4', 'more', '2', 'more', '2', '4', 'more', '2', '2', '2', '4', '2', '4', 'more', '4', '4', '2', '2', '4', '4', '2', '2', '2']
['small', 'big', 'big', 'med', 'small', 'med', 'big', 'small', 'med', 'med', 'small', 'big', 'big', 'big', 'med', 'small', 'med', 'med', 'big', 'big', 'small', 'med', 'big', 'big', 'big', 'small', 'med', 'big', 'med', 'med', 'med', 'med', 'big', 'big']
['high', 'low', 'high', 'med', 'low', 'high', 'med', 'low', 'low', 'med', 'high', 'med', 'low', 'med', 'high', 'low', 'high', 'high', 'med', 'high', 'high', 'med', 'low', 'low', 'low', 'low', 'med', 'low', 'med', 'high', 'med', 'low', 'high', 'high']
['acc', 'unacc', 'acc', 'unacc', 'unacc', 'vgood', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'vgood', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc']

In [ ]:
for col in data.columns:
    print(data[col].value_counts())

high     10
low      10
vhigh     8
med       6
Name: Price, dtype: int64
low      16
high     10
vhigh     6
med       2
Name: Maintenance_cost, dtype: int64
2        10
3         9
4         8
5more     7
Name: Number_of_doors, dtype: int64
2       16
more     9
4        9
Name: Number_of_passengers, dtype: int64
big      14
med      13
small     7
Name: Luggage_capacity, dtype: int64
high    12
low     12
med     10
Name: Safety_rating, dtype: int64
unacc    26
acc       6
vgood     2
Name: Classification_of_vehicle, dtype: int64

In [ ]:
data.describe()

,Price,Maintenance_cost,Number_of_doors,Number_of_passengers,Luggage_capacity,Safety_rating,Classification_of_vehicle
count,34,34,34,34,34,34,34
unique,4,4,4,3,3,3,3
top,high,low,2,2,big,high,unacc
freq,10,16,10,16,14,12,26

In [ ]:
print(data[(data['Price']=='med')])

   Price Maintenance_cost Number_of_doors Number_of_passengers  \
5    med              med               4                 more
15   med              med               2                    2
19   med             high               4                    2
22   med            vhigh               2                    2
25   med            vhigh               3                    4
28   med             high           5more                    2

   Luggage_capacity Safety_rating Classification_of_vehicle
5               med          high                     vgood
15            small           low                     unacc
19              big          high                     unacc
22              big           low                     unacc
25            small           low                     unacc
28              med           med                     unacc